body {
    background-color: lightblue;
}

.top-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.player-score {
    width: 50%;
    text-align: center;
    justify-content: left;
    float: left;
    padding: 50px 20px 50px 20px;
    background-color: aquamarine;
    border-width: 30px;
    margin: 50px 50px;
    margin-inline: 100px;
    font-size: xx-large;
    color: red;
    font-weight: 900;
}

.middle-container {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.question-box {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 150px;
    padding-left: 150px;
    display: inline-block;
    background-color: slateblue;
    margin: 125px;
    font-size: x-large;
}

.options-box {
    background-color: slateblue;
    color: black;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 150px;
    padding-left: 150px;
    font-size: x-large;
    display: inline-block;
    margin: 125px
}

.next {
    padding: 50px;
    font-size: x-large;
    margin-top: 100px;
    float: right;
    color: lightsalmon;
    background-color: slateblue;
}

.bottom-container {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 35px;
    padding: 25px;
    border: black
    border-width: 50px;
    background-color: goldenrod;
}

.a {
    margin-inline: 15px;
    padding: 50px;
    font-size: x-large;
    background-color: black;
    color: white;
}

.b {
    margin-inline: 15px;
    padding: 50px;
    font-size: x-large;
    background-color: black;
    color: white;
}

.c {
    margin-inline: 15px;
    padding: 50px;
    font-size: x-large;
    background-color: black;
    color: white;
}

.d {
    margin-inline: 15px;
    padding: 50px;
    font-size: x-large;
    background-color: black;
    color: white;
}