html {
    height: 100vh;
    margin: 0;
}


body {
    background-color: black;
    background-image: url(nasa-OVO8nK-7Rfs-unsplash.jpg);
    font-family: 'DotGothic16', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 100vw;
    max-height: 55vh;
    font-family: 'DotGothic16', sans-serif;
}

.grid-item1 {
    display: flex;
    justify-content: left;
    position: relative;
}

.player-score {
    width: 50%;
    text-align: center;
    justify-content: left;
    float: left;
    padding: 20px 0px 20px 0px;
    background-color: goldenrod;
    border-width: 30px;
    margin: 20px 20px;
    margin-inline: 100px;
    font-size: xx-large;
    color: red;
    font-weight: 900;
}

.grid-item2 {
    display: flex
    justify-content: center;
    text-align: center;    
}

.question-box {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 150px;
    padding-left: 150px;
    margin: 100px;
    background-color: gray;
    color: white;
    justify-self: center;
    font-size: x-large;
    border: solid #000;
    border-width: 3px 3px 3px 3px;
    border-color: goldenrod;
}

.options-box {
    background-color: grey;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 150px;
    padding-left: 150px;
    font-size: x-large;
    margin: 125px;
    border: solid #000;
    border-width: 3px 3px 3px 3px;
    border-color: goldenrod;
}

.next {
    padding: 50px;
    font-size: x-large;
    margin-top: 100px;
    float: right;
    color: white;
    background-color: grey;
    border: solid #000;
    border-width: 3px 3px 3px 3px;
    border-color: goldenrod;
    font-family: 'DotGothic16', sans-serif;
}

.grid-item3 {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 35px;
    padding: 25px;
    border: black;
    border-width: 50px;
    background-color: goldenrod;
}

.a {
    margin-inline: 15px;
    padding: 50px;
    font-size: x-large;
    background-color: black;
    color: white;
    font-family: 'DotGothic16', sans-serif;
}

.b {
    margin-inline: 15px;
    padding: 50px;
    font-size: x-large;
    background-color: black;
    color: white;
    font-family: 'DotGothic16', sans-serif;
}

.c {
    margin-inline: 15px;
    padding: 50px;
    font-size: x-large;
    background-color: black;
    color: white;
    font-family: 'DotGothic16', sans-serif;
}

.d {
    margin-inline: 15px;
    padding: 50px;
    font-size: x-large;
    background-color: black;
    color: white;
    font-family: 'DotGothic16', sans-serif;
}